.app
    max-width 960px
    margin 0 auto


#save_search
	margin-left 2%

content
	padding-left 0%
	
	.item-result
		margin 0 1.8%
		
		.img
			background: #eee;
			width 120px
			height 120px
		h3
			margin-top 20%
