.search-form
    input(type="text" class="awesomplete" id="input_search"  placeholder="escriba" onkeyup="searchForm()")
    button(type="submit" id="btn_search" disabled) buscar
    a(href="#" id="save_search") Guardar busqueda

	
